@font-face {
  font-family: "Digital-7 Mono";
  src: url("fonts/digital-7-mono.woff2") format("woff2");
  src: url("fonts/digital-7-mono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  background-color: #272727;
}

body.light {
  background-color: #ffffff;
}

.game-container {
  margin: 50px auto 0;
  background-color: rgb(61, 61, 61);
  border: 2px solid black;
}

body.light .game-container {
  background-color: rgb(219, 219, 219);
}

.game-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.time-display,
.clicks-display {
  position: relative;
  font-family: "Digital-7 Mono", sans-serif;
  font-size: 40px;
  color: red;
}

.clicks-display {
  text-align: right;
}

.time-display::before,
.clicks-display::before {
  position: absolute;
  width: 100%;
  left: 0;
  top: -8px;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}

.time-display::before {
  content: 'time';
}

.clicks-display::before {
  content: 'moves';
}

.new-game-btn {
  padding: 5px;
  font-family: inherit;
  font-size: 18px;
  background-color: darkgrey;
  cursor: pointer;
}

.new-game-btn:active {
  color: rgb(3, 243, 43);
}

.field {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  cursor: default;
}

.cell:first-child {
  border-left: none;
}

.cell:last-child {
  border-right: none;
}

.cell.cc-1 {
  color: rgb(228, 222, 222);
}

.cell.cc-2 {
  color: rgb(48, 214, 48);
}

.cell.cc-3 {
  color: rgb(52, 4, 184);
}

.cell.cc-4 {
  color: yellow;
}

.cell.cc-5 {
  color: orange;
}

.cell.cc-6 {
  color: red;
}

.cell.cc-7 {
  color: brown;
}

.cell.cc-8 {
  color: black;
}

.cell.open {
  background-color: grey;
}

.cell.exploded {
  background-color: #ff0000;
}

.cell.wrong-flag {
  background-color: rgb(206, 140, 140);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.overlay-message {
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay-score {
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.score-cell {
  padding: 3px 10px;
}

body.light .overlay-score {
  background-color: rgba(231, 231, 231, 0.95);
}

.message {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: red;
}

.game-footer {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.level-select,
.mines-input {
  font-family: 'Orbitron', sans-serif;
  background-color: darkgrey;
  outline: none;
  border: none;
}

.level-select {
  padding: 3px;
}

.mines-input {
  padding: 4px;
  max-width: 50px;
}

.mines-input::-webkit-inner-spin-button {
  opacity: 1;
}

.sound-btn,
.theme-btn {
  width: 25px;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
  cursor: pointer;
}

.sound-btn {
  background-image: url('../assets/svg/volume-on-dark.svg');
}

body.light .sound-btn {
  background-image: url('../assets/svg/volume-on-light.svg');
}

.sound-btn.off {
  background-image: url('../assets/svg/cross-dark.svg'), url('../assets/svg/volume-on-dark.svg');
  background-size: 20px 20px, 25px 25px;
}

.theme-btn {
  background-image: url('../assets/svg/dark-mode.svg');
}

body.light .theme-btn {
  background-image: url('../assets/svg/light-mode.svg');
}

body.light .sound-btn.off {
  background-image: url('../assets/svg/cross-light.svg'), url('../assets/svg/volume-on-light.svg');
  background-size: 20px 20px, 25px 25px;
}

.score-btn {
  margin-left: auto;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: red;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.score-btn.active {
  color: rgb(3, 179, 33);
}

.score-table {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: red;
}
